.about {
    text-align: center;
}

.about {
    font-size: 16px;
    margin-bottom: 1em;
}

.about p {
    margin-bottom: 1.5em;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.4;
}

.about a {
    text-decoration: none;
}

.name {
    color: #E33D33;
    font-weight: bold;
    font-size: 20px;
}

.name:hover {
    color: #333;
}